body {
  background: #654ea3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaafc8,
    #654ea3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #eaafc8,
    #654ea3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-fluid {
  border: 8px solid black;
  border-radius: 15px;
  width: 90vw;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.dot {
  color: white;
}

.joke {
  height: 200px;
}

#joke {
  color: white;
  font-size: 1.5rem;
}

button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.next {
  /* width: 10%; */
  height: 50px;
  border: none;
  background: #800080;
  color: #ffffff;
}
